@import 'src/styles/variables.scss';

svg {
  border-radius: 3px;
  padding: 4px;
  backface-visibility: hidden;
  height: 30px;
  width: 30px;

  transition: background-color 0.15s, fill 0.15s, height 0.2s, width 0.2s;

  @media (max-width: 600px) {
    height: 22px;
    width: 22px;
  }
}

.dark-fill {
  fill: $darkgray;

  &:hover {
    background-color: $darkgray;
    fill: $lightgray
  }
}

.light-fill {
  fill: $lightgray;

  &:hover {
    background-color: $lightgray;
    fill: $darkgray
  }
}