@import 'src/styles/variables.scss';

.me {
  float: right;
  object-fit: cover;
  border-radius: 50%;
  height: 250px;
  width: 190px;
  border: 3px outset $darkgray;
  margin: 0 0 10px 20px;
  transition: height 0.2s, width 0.2s;

  @media (max-width: 600px) {
    height: 125px;
    width: 95px;
    margin: 0 0 5px 10px;
  }
}

:global body.dark-mode {
  .me {
    border: 3px outset $lightgray;
  }
}