@import 'src/styles/variables.scss';
@import 'src/styles/reset.scss';

:global {
  html {
    display: flex;
    justify-content: center;
    height: 90%;
  }

  body {
    background-color: $lightgray;
    margin: 0;
    padding: 20px;
    width: 1200px;
    max-width: 1200px;
    min-height: 100%;

    h1 {
      font-size: 36px;
      transition: font-size 0.2s;
      margin-bottom: 20px;

      @media (max-width: 600px) {
        font-size: 30px;
      }
    }

    p {
      font-size: 20px;
      line-height: 26px;
      margin: 15px 0px;

      transition: font-size 0.2s;

      @media (max-width: 600px) {
        font-size: 16px;
        line-height: 20px;
      }
    }

    p, h1, h2, div, a, button {
      color: $darkgray;
      font-family: 'bitter', 'serif';
    }

    #svelte {
      min-height: 100%;
    }

    .main-content {
      margin: 40px 40px;
      transition: padding 0.2s;
      min-height: 70vh;

      @media (max-width: 600px) {
        margin: 20px 20px;
      }
    }

    .topnav {
      border-bottom: 3px solid $darkgray;
    }

    footer {
      border-top: 3px solid $darkgray;
    }
  }

  body.dark-mode {
    background-color: $darkgray;

    button {
      background-color: $darkgray;
    }

    p, h1, h2, div, a, button {
      color: $lightgray;
    }

    .topnav {
      border-bottom: 3px solid $lightgray;
    }

    footer {
      border-top: 3px solid $lightgray;
    }
  }
}

.topnav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 10px 20px;
  transition: padding 0.2s;

  @media (max-width: 600px) {
    padding: 0 10px 5px 10px;
  }

  button {
    cursor: pointer;
  }
}

.leftside {
  a {
    padding-right: 20px;
    text-decoration: none;

    &:hover {
      font-style: italic;
    }
  }
}

footer {
  width: 100%;
  padding-top: 25px;
  margin-top: 20px;
  margin-bottom: 20px;

  transition: padding 0.2s;

  p {
    margin: 0;
    padding: 0 20px;
    font-size: 14px;
    line-height: 18px;

    transition: font-size 0.2s;
  }

  @media (max-width: 600px) {
    padding-top: 20px;
    font-size: 12px;
    line-height: 14px;

    p {
      font-size: 12px;
      line-height: 14px;
    }
  }
}